body{
    color: #40514E;
    margin: 0%;
    text-align: center;
    font-family:'Merriweather', serif; 
}

.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 150px;
    
    }
.middle-container{
        
        margin-top: 100px;
        margin-bottom: 70px;
        }
h1{
    margin: 0 auto;
    font-family:'Sacramento', cursive; 
    font-size: 5rem;
    color:#66BFBF ;
    
}
#text{
    color: #66BFBF;
    font-weight: bold;
    font-size: 2.5rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF ;
    font-weight: bolder;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
    font-weight: bold;
    font-size: x-large;
}
a{
    color: #11999E;
    outline: none;
    text-decoration: none;
      margin-right: 50px;
      font-weight: bolder;
}
a:hover{
    color: #eaf6f6;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 350px;
}  


.bottom-cloud{
    position: absolute;
    bottom: 320px;
    left: 300px;
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.programmer{
    float:left;
    margin-right:30px;
}

.web{
    float:right;
    margin-left:30px;
}
hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: dotted;
    border-bottom: 0px;
    border-top-width: 6px;
    border-color: #eaf6f6;
    width: 4%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
    padding-top: 50px;
    background-color: #66BFBF;
    padding-bottom: 50px;
}

.bottom-text{
    position: relative;
    top: 30px;
    bottom: 30px;
    color:white;
    font-size: 0.75rem;
}
p{
    font-weight: bold;
    line-height: 2;
    
}
.intro{
    margin: auto;
    width: 30%;
}
.contact-message{
    width: 40%;
    margin: 50px auto;
}